################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.suo
*.user
/PPP/x64/Debug
/x64/Debug
