################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.suo
*.user
/PPP/x64/Debug
/x64/Debug
/PPP/x64/Release
/x64/Release
/.vs/PPP/v15/ipch/AutoPCH/PPP-5a5eb6f3/PPP-fe3e362a
/.vs/PPP/v15
/.vs/PPP/v15/ipch/AutoPCH/PPP-5a5eb6f3/PPP-fe3e362a/PPP.ipch
/.vs/PPP/v15
/.vs/PPP/v15
/.vs/PPP/v15/ipch/AutoPCH/PPP-5a5eb6f3/PPP-fe3e362a/PPP.ipch
*.db-shm
